
.username {
  font-size: 1.0em;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.username .logoutButton {
  font-size: 0.8em;
  font-weight: bold;
  background-color: #555;
  color: #fff;
  padding: 8px 8px;
  width: 100px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
  }
  
  .title {
    text-align: start;
    margin-bottom: 20px;
  }
  
  .todoList {
    margin-bottom: 20px;
  }
  
  .todoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color:#333;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    flex-wrap: nowrap;
  }
  
  .todoItem input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .todoItem span {
    flex-grow: 1;
    margin-right: 10px;
  }

  .buttonContainer {
    display: flex;
    gap: 3px;
    align-items: center;
    margin-left: auto;
  }

  .editContainer {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
  }
  
  .editTitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }

  .editInput,
  .editTextarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background-color: #555;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .editTextarea {
    height: 100px;
    resize: none;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 12px;
    gap: 5px;
  }

  .saveButton,
  .cancelButton {
    max-width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    flex: 1;
  }

  .saveButton {
    background-color: #007bff;
    color: white;
  }
  
  .cancelButton {
    background-color: #888;
    color: white;
  }

  .deleteButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  .completeButton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .completed {
    background-color: #4CAF50; /* 綠色 */
  }
  
  .incomplete {
    background-color: #ffcc00; /* 黃色 */
  }

  .backButton {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    align-self: flex-start;
    margin-bottom: 10px;
  }

  .addTask {
    padding: 15px;
    color:#333;
    background-color: #ffffff;
    border-radius: 5px;
    margin:auto;
    width: 60%;
    max-width: 400px;
  }
  
  .addTask input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #555;
  }

  .addTask textarea {
    width: 100%;
    max-height: 200px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #555;
  }
  
  .addTask button {
    width:40%;
    padding: 10px;
    margin-left: 60%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .divider {
    height: 1px; /* 分隔線的高度 */
    background-color: #ccc;
    border: none;
    width: 100%;
  }
  