

.titleInput{
    width: auto;
    margin: 10px 0;
    padding: 0 3px;
    
}
.descriptionInput{
    width: 100%;
    height: 50%;

    margin: 10px 0;
    padding: 0 3px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;

    flex-grow: 1;
}

.btn{
    width: 30%;

    padding: 3px;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}